.step4 {
  min-height: 100vh;
  box-sizing: border-box;
  background: #ffffff;
  justify-content: center;
  background-image: url("/images/app/bg/bsb.svg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.step4-content {
  width: 100%;
  padding-top: 140px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.step4-header {
  text-align: center;
  margin-bottom: 28px;
}

.step4-text {
  max-width: 520px;
}

.step4-header h2 {
  font-family: "Geist-Semibold", sans-serif;
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-xxs);
  letter-spacing: var(--letter-spacing-xl);
  color: var(--color-heading-h1);
  margin-bottom: 16px;
}

.step4-description {
  font-family: "Geist-Regular", sans-serif;
  font-size: var(--font-size-xsm);
  line-height: var(--line-height-sm);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-description-p1);
  max-width: 550px;
}

.step4-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Desktop: 4 items side by side */
  gap: 12px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.step4-color {
  width: 100%;
  aspect-ratio: 1;
  height: 120px;
  background-color: #ffffff;
  border: 1px solid var(--color-border-b3);
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.step4-color:hover {
  border: 2px solid var(--color-heading-h1);
}

.step4-color.selected {
  border: 2px solid var(--color-heading-h1);
}

.color-overlay {
  width: 100%;
  padding: 12px;
  color: #ffffff;
  text-align: left;
}

.color-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 6px;
}

.color-desc {
  font-size: 12px;
  margin: 0;
}

.step4-continue-container {
  width: 100%;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin: 0 auto;
}

.step4-continue-right {
  font-family: "Geist-Semibold", sans-serif;
  font-size: var(--font-size-xs);
  width: 100%;
  width: 150px;
  height: 44px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: var(--btn-black-bg);
  cursor: pointer;
  color: var(--grey-100);
  transition: all 0.2s ease;
}

.step4-continue-right:hover {
  background: var(--btn-black-bg);
}

.step4-continue-right:disabled {
  background: var(--btn-black-bg-disabled);
  cursor: not-allowed;
  opacity: 0.5;
}

/* ARROW CIRCLE */

.arrow-circle {
  width: 36px;
  height: 36px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step4-continue-right:hover .arrow-circle {
  background: var(--btn-black-bg);
}

.step4-continue-right:disabled .arrow-circle {
  background-color: var(--btn-black-bg-disabled);
  color: var(--grey-100);
}

.step4-back-button {
  font-family: "Geist-Medium", sans-serif;
  font-size: var(--font-size-xs);
  height: 44px;
  padding: 8px 18px 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--color-border-b2);
  background: var(--color-white);
  font-size: 14px;
  cursor: pointer;
  color: var(--color-description-p1);
  transition: all 0.2s ease;
}

.step4-back-button:hover {
  background: var(--color-border-b2);
  border-color: var(--color-border-b2);
  color: var(--color-heading-h1);
}

@media (max-width: 1000px) {
  .step4 {
    padding-top: 140px;
  }
  .step4-content {
    padding: 0 32px 0 32px;
  }

  .step4-content h2 {
    font-size: var(--font-size-3xl);
    margin-bottom: 16px;
  }

  .step4-continue-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 16px 50px;
    background-color: #ffffff; /* buton arka planını ayırmak için */
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    justify-content: center; /* buton ortalanır */
    align-items: center;
    z-index: 999;
    gap: 16px;
  }

  .step4-continue-right {
    width: 70%;
    font-size: 16px;
    height: 52px;
    padding: 8px 8px 6px 12px;
  }

  .step4-back-button {
    width: 30%;
    font-size: 16px;
    height: 52px;
    padding: 8px 18px 8px 12px;
    justify-content: center;
  }

  .step4-content h2 {
    font-size: var(--font-size-3xl);
    margin-bottom: 16px;
  }

  .step4-description {
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 768px) {
  .step4 {
    padding-top: 100px;
  }
  .step4-content {
    padding: 0 30px 0 30px;
  }

   .step4-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Desktop: 4 items side by side */
    gap: 16px;
  }

  .step4-continue-container {
    gap: 16px;
    padding: 16px 30px;
  }

   .step4-content h2 {
    font-size: var(--font-size-2xl);
    margin-bottom: 16px;
  }

  .step4-description {
    font-size: var(--font-size-xsm);
  }

}
@media (max-width: 640px) {
  .step4 {
    padding-top: 100px;
  }
  .step4-content {
    padding: 0 24px 0 24px;
  }

  .step4-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Desktop: 4 items side by side */
    gap: 16px;
  }

  .step4-continue-container {
    gap: 16px;
    padding: 16px 24px;
  }

  .step4-continue-right {
    width: 70%;
    font-size: 16px;
    height: 52px;
    padding: 8px 8px 6px 12px;
  }
  .step4-back-button {
    width: 30%;
    font-size: 16px;
    height: 52px;
    padding: 8px 18px 8px 12px;
  }

  .arrow-circle {
    width: 28px;
    height: 28px;
  }

  .step4-content h2 {
    font-size: var(--font-size-2xl);
    margin-bottom: 16px;
  }

  .step4-description {
    font-size: var(--font-size-xsm);
  }
}
@media (max-width: 430px) {
  .step4 {
    padding-top: 100px;
  }

  .step4-content {
    padding: 0 20px 0 20px;
  }

  .step4-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Desktop: 4 items side by side */
    gap: 16px;
  }

  .step4-continue-container {
    gap: 16px;
    padding: 16px 20px;
  }

  .step4-continue-right {
    width: 70%;
    font-size: 16px;
    height: 52px;
    padding: 8px 8px 6px 12px;
  }
  .step4-back-button {
    width: 30%;
    font-size: 16px;
    height: 52px;
    padding: 8px 18px 8px 12px;
  }

  .arrow-circle {
    width: 28px;
    height: 28px;
  }

  .step4-content h2 {
    font-size: var(--font-size-2xl);
    margin-bottom: 16px;
  }

  .step4-description {
    font-size: var(--font-size-xsm);
  }
}
