.privacy-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-md);
  border: 1px solid var(--color-border-b1);
  border-radius: var(--radius-lg);
}

.privacy-card > div {
  flex: 1;
  min-width: 200px;
}

.privacy-card h3 {
  font-family: "Geist-SemiBold", sans-serif;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-heading);
  margin-bottom: var(--spacing-sm);
}

.privacy-card p {
   font-family: "Geist-Regular", sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-md);
  color: var( --color-description-p1);
}

.view-btn {
  font-family: "Geist-SemiBold", sans-serif;
  color: var(--btn-border-text);
  background: transparent;
  border: 1px solid var(--btn-border-bg);
  padding: var(--spacing-sm) var(--spacing-xl);
  border-radius: var(--radius-md);
  font-size: var( --font-size-2xs);
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
  min-width: 70px;
  min-height: 36px;
}

.view-btn:hover {
  background: var(--btn-border-bg-hover);
}

.delete-btn {
  font-family: "Geist-SemiBold", sans-serif;
  padding: 0.6rem 1.2rem;
  background: var(--error-50);
  border: 1px solid var(--error-100);
  color: var(--error-900);
  border-radius: var(--radius-md);
  font-size: var(--font-size-2xs);
  cursor: pointer;
  transition: all 0.2s;
  min-width: 70px;
  min-height: 36px;
}

.delete-btn:hover:not(:disabled) {
  background-color: var(--error-200);
  border-color: var(--error-300);
  color: var(--error-900);
}

.delete-section h3 {
  color: var(--error-800);
}