.about-section {
  background: #FFFCF7;
  padding: 20px 20px;
}

.about-section-container {
  max-width: 1160px;
  margin: 0 auto;
  background: #f3efe9;
  border-radius: 8px;
  padding: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about-section-content {
  flex: 1;
}

.about-section-title {
   font-family: "Geist-SemiBold", sans-serif;
  font-size: 38px;
  line-height: 1.2;
  color: var(--color-heading-h1);
  margin-bottom: 28px;
}

.about-section-text {
   font-family: "Geist-Medium", sans-serif;
  font-size: 16px;
  color: var(  --color-description-p1);
  line-height: 1.4;
  max-width: 500px;
}

.about-section-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-section-image img {
  width: 100%;
  max-width: 520px;
  border-radius: 6px;
  object-fit: cover;
}

/* Responsive */

@media (max-width: 1000px) {
  .about-section {
  background: #FFFCF7;
  padding: 20px 32px;
}
  .about-section-container {
    flex-direction: column;
    padding: 32px;
    align-items:flex-start;
  }

  .about-section-image img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about-section {
  background: #FFFCF7;
  padding: 20px 30px;
}
  .about-section-container {
    flex-direction: column;
    padding: 24px;
    align-items:flex-start;
  }

  .about-section-title {
    font-size: 32px;
  }

  .about-section-text {
  font-size: 16px;
}

  .about-section-image img {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .about-section {
  background: #FFFCF7;
  padding: 20px 24px;
}
  .about-section-container {
    flex-direction: column;
    padding: 24px;
  }

  .about-section-title {
    font-size: 28px;
  }

  .about-section-text {
  font-size: 14px;
}

  .about-section-image img {
    max-width: 100%;
  }
}


@media (max-width: 430px) {
  .about-section {
  background: #FFFCF7;
  padding: 20px 20px;
}
  .about-section-container {
    flex-direction: column;
    padding: 24px;
  }

  .about-section-title {
    font-size: 24px;
  }

  .about-section-text {
  font-size: 14px;
}

  .about-section-image img {
    max-width: 100%;
  }
}