.marquee-section {
  width: 100%;
  padding: 80px 0;
  background: white;
  overflow: hidden;
  text-align: center;
}

.marquee-header {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 0 12px;
}

.marquee-title {
  font-family: "Geist-SemiBold", sans-serif;
  font-size: 42px;
  line-height: 1.1;
  letter-spacing: -0.84px;
  color: var(--color-heading-h1);
  margin: 16px auto;
  max-width: 600px;
}

.marquee-description {
  font-family: "Geist-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--color-description-p1);
  max-width: 1160px;
  margin: 16px auto;
}

.marquee-row {
  overflow: hidden;
  margin-bottom: 12px;
}

.marquee-track {
  display: flex;
  gap: 16px;
  width: max-content;
}

.marquee-card {
  width: 250px;
  height: 250px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
}

.marquee-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-left {
  animation: scroll-left 60s linear infinite;
}

@media (max-width: 1300px) {

 .marquee-section {
    padding: 72px 0;
  }

  .marquee-header {
    margin-bottom: 24px;
    max-width: 600px;
  }

  .marquee-title {
       font-size: 38px;
    margin-bottom: 16px;
  }

  .marquee-description {
      font-size: 16px;
  }

   .marquee-track {
    gap: 16px;
  }

  .marquee-card {
    width: 230px;
    height: 210px;
  }

  .animate-left {
    animation-duration: 36s;
  }
}

@media (max-width: 768px) {
  .marquee-section {
    padding: 72px 0;
  }

  .marquee-header {
    margin-bottom: 16px;
    max-width: 600px;
  }

  .marquee-title {
     font-size: 36px;
    margin-bottom: 16px;
  }

  .marquee-description {
      font-size: 15px;
  }

   .marquee-track {
    gap: 16px;
  }

  .marquee-card {
    width: 210px;
    height: 200px;
  }

  .animate-left {
    animation-duration: 36s;
  }
}

@media (max-width: 640px) {
  .marquee-section {
    padding: 72px 0;
  }

  .marquee-header {
    margin-bottom: 16px;
    max-width: 500px;
  }

  .marquee-title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .marquee-description {
    font-size: 15px;
  }

  .marquee-card {
    width: 210px;
    height: 200px;
  }

  .animate-left {
    animation-duration: 38s;
  }
}

@media (max-width: 430px) {
  .marquee-section {
    padding: 56px 0;
  }

  .marquee-header {
    padding: 0 20px;
    margin-bottom: 16px;
  }

  .marquee-title {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .marquee-description {
    font-size: 15px;
  }

  .marquee-card {
    width: 200px;
    height: 170px;
    border-radius: 8px;
  }

  .marquee-track {
    gap: 16px;
  }

  .animate-left {
    animation-duration: 42s;
  }
}
