.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:  var(--spacing-md);
  padding:  var(--spacing-lg) var(--spacing-md);
  border: 1px solid var(--color-border-b1);
  border-radius: var(--radius-lg);
}

.notification-item h3 {
 font-family: "Geist-SemiBold", sans-serif;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxs);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-heading);
  margin-bottom: var(--spacing-sm);
}

.text-muted {
  font-family: "Geist-Regular", sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  letter-spacing: var(--letter-spacing-md);
  color: var( --color-description-p1);
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--grey-200);
  transition: 0.4s;
  border-radius: 28px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--grey-950);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--success-400);
}

.switch input:checked + .slider::before {
  transform: translateX(26px);
  background-color: var(--success-700);
}
